{% if current_user.is_authenticated %}
<nav class="navbar navbar-inverse navbar-fixed-top center">
    <div class="container">
        <div class="navbar-header">
            
            
            <ul class="nav navbar-nav">
              <!-- 
              <li {% if not hotel_id %}class="active"{% endif %}>
                <a class="navbar-brand" href="{{ url_for('luggage.show_dashboard') }}">
		              <span class="glyphicon glyphicon-stats"></span> General
		            </a>
              </li>
               -->
	            {% for hotel in hotels %}
	            <li {% if hotel_id==hotel.id|tojson %}class="active"{% endif %}>
	              <a class="navbar-brand active" href="{{ url_for('luggage.show_dashboard') }}?hotel={{hotel.id}}">
	                <span class="glyphicon glyphicon-stats"></span> {{hotel.name}}
	              </a>
	            </li>
	            {% endfor %}
		        </ul>
            
        </div>
        {% block extra_navbar %}{% endblock %}
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="#" id="UserDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>{{ current_user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="UserDropdownMenu">
              <li><a href="{{ url_for('luggage.logout') }}">Logout</a></li>
            </ul>
          
        </div>
    </div>
    <!-- /.container -->
</nav>
{% endif %}