html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * GLOBAL
 */

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

/*
 * Create dark grey header with a white logo
 */

.navbar {
  width: 940px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  text-transform: uppercase;
}

header {
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header, h1 {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

div#head {
  width: 940px;
  background-image: url('rpr-banner-lrg.jpg');
}

.banner {
  position: relative;
  bottom: 10px;
  right: 10px;
  text-shadow:  2px 2px 4px #000000;

}

.results {
  float:none;
  color: black;
  padding: 10px;
}

h2, h3 {
  text-transform: uppercase;
  text-decoration: underline;
}

.container {
  width: 500px;
  margin: 0px auto;
  padding: 5px;

}

#foot {
  width: 940px;
  margin: 0px auto;


}

.outer {
  width: 940px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

#srch {
  margin: auto;
  padding-top: 5px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.well {
  width: 940px;
  text-align: center;
  /*background-image: url('rpr-banner-lrg.jpg');*/
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.footer {
  width: 940px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  float: right;

}

#footertext {
  padding-right: 5px;
  float: right;
}

div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

input#search {
  margin-top: 5px;
  padding: 5px;
}

form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

#name,
#ticket,
#location,
#bagCount,
#loggedInBy {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

#location {
  width: 264px;
  margin-left: 10px;
}

form input#submit {
  display: block;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  margin: 10px 0px 0px 0px;
  padding: 10px 40px 10px 40px;
  font-weight:bold;
  text-align: center;
  color: #000000;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}

form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1;
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

th, td {
  text-align: center;
}

div#search_bar{
  padding-top: 20px;
}

/* bin overlay */

#bin-location-finder {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.7);
}

.overlay__content-container {
  position: absolute;
  width: 100vw;
  top: 10vh;
}

.overlay__action-group {
  margin: 10px 10px 10px 20px;
}

.overlay__cancel, .overlay__cancel:active {
  color: #fff !important;
}

.overlay__content {
  margin: 0 2vw;
  height: 95vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.overlay__content--desktop {
  height: 86vh;
  width: 95vw;
}

.overlay__location {
  position: absolute;
}

.overlay__location:active, .overlay__location--selected {
  border: 2px solid #FFFF66;
}

.overlay__location-status {
  position: absolute;
  background: green;
  width: 106px;
  height: 48px;
  bottom: 35px;
  left: 3px;
}

.overlay__location--selected .overlay__location-status {
  left: 0;
}

.overlay__location-status--occupied {
  background: red;
}

.overlay__location-21a {
  height: 87px;
  width: 110px;
}

.overlay__location-21a-status {

}

.overlay__location-21b {
  top: 85px;
  height: 87px;
  width: 110px;
}

.overlay__location-21c {
  top: 171px;
  height: 87px;
  width: 110px;
}

/*
 * TICKET LIST
 */

.has-comment {
  font-weight: bold;
  color: red;
}

.is-tablet .ticket-actions li > a {
  height: 40px;
  line-height: 40px;
}

.is-tablet .dropdown-menu {
  margin-top: -4px;
}