html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * GLOBAL
 */

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}

input:invalid {
  border: 1px solid red;
}

#close-initials-submit {
  display: none;
}

[v-cloak] {
  display:none;
}

/*
 * BOOTSTRAP MODS
 */

.form-group.last {
  margin-bottom: 0;
}

.modal-dialog {
  margin: 35vh auto auto;
}

/*
 * Create dark grey header with a white logo
 */

.navbar {
  width: 940px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  text-transform: uppercase;
}

header {
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header, h1 {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

div#head {
  width: 940px;
  background-image: url('rpr-banner-lrg.jpg');
}

.banner {
  position: relative;
  bottom: 10px;
  right: 10px;
  text-shadow:  2px 2px 4px #000000;

}

.results {
  float:none;
  color: black;
  padding: 10px;
}

h2, h3 {
  text-transform: uppercase;
  text-decoration: underline;
}

.container {
  width: 500px;
  margin: 0px auto;
  padding: 5px;

}

#foot {
  width: 940px;
  margin: 0px auto;


}

.outer {
  width: 940px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

#srch {
  margin: auto;
  padding-top: 5px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.well {
  width: 940px;
  text-align: center;
  /*background-image: url('rpr-banner-lrg.jpg');*/
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.footer {
  width: 940px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  float: right;

}

#footertext {
  padding-right: 5px;
  float: right;
}

div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

input#search {
  margin-top: 5px;
  padding: 5px;
}

form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

#view-bin-availability {
  vertical-align: middle;
}

.bins-selected {
    margin-left: 25px;
    vertical-align: middle;
}

.bins-selected strong, .bins-selected ul, .bins-selected li {
  display: inline-block;
}

.bins-selected ul {
    margin-left: 0;
    padding-left: 10px;
}

.bins-selected li {
    margin-right: 7px;
}

#submit {
  display: block;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  margin: 10px 0px 0px 0px;
  padding: 10px 40px 10px 40px;
  font-weight:bold;
  text-align: center;
  color: #000000;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}

#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1;
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

th, td {
  text-align: center;
}

div#search_bar{
  padding-top: 20px;
}

/* bin overlay */

#bin-location-finder {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.7);
}

.overlay__location-amount {
  display: block;
  text-align: center;
  color: #fff;
  z-index: 1;
  font-size: 25px;
  top: 5px;
  position: relative;
  border-radius: 50%;
  background: #00B100;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
}

.overlay__location-amount--occupied {
  color: #000;
  background: #FFA0A0;
}

.overlay__content-container {
  position: absolute;
  width: 100vw;
  top: 10vh;
}

.overlay__action-group {
  margin: 10px 10px 10px 20px;
}

.overlay__cancel, .overlay__cancel:active {
  color: #fff !important;
}

.overlay__content {
  margin: 0 2vw;
  height: 95vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.overlay__content--desktop {
  height: 86vh;
  width: 95vw;
}

.overlay__location {
  position: absolute;
  height: 87px;
  width: 110px;
}

.overlay__location:hover {
  text-decoration: none;
}

.overlay__location:focus {
  outline: none;
  text-decoration: none;
}

.overlay .overlay__location:active, .overlay  .overlay__location--selected {
  border: 2px solid #FFFF66;
  width: 112px;
  height: 89px;
  z-index: 1;
}

.overlay__location-identifier {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  top: 10px;
  color: #fff;
  font-size: 18px;
}

.overlay__location-identifier--occupied {
  color: #000;
}

.overlay__location-status {
  position: absolute;
  background: green;
  width: 109px;
  height: 85px;
  left: 2px;
  top: 0;
  border: 2px solid #000;
}

.overlay__location--selected .overlay__location-status {
  left: 0;
}

.overlay__location-status--occupied {
  background: red;
}

.overlay__location-21a {
  top: 3px;
}

.overlay__location-21b {
  top: 88px;
}

.overlay__location-21c {
  top: 173px;
}

.overlay__location-22a {
  left: 110px;
  top: 3px;
}

.overlay__location-22b {
  top: 88px;
  left: 110px;
}

.overlay__location-22c {
  top: 173px;
  left: 110px;
}
.overlay__location-14a, .overlay__location-14b, .overlay__location-14c {
  left: 221px;
}

.overlay__location-14a {
  top: 1286px;
}

.overlay__location-14b {
  top: 1371px;
}

.overlay__location-14c {
  top: 1456px;
}

.overlay__location-transfer, .overlay__location-cart_front {
  top: 3px;
  height: 257px;
}

.overlay__location-transfer {
  left: 1546px;
}

.overlay__location-transfer.overlay__location--selected,
.overlay__location-cart_front.overlay__location--selected
{
  height: 261px;
}

.overlay__location-transfer-status, .overlay__location-cart_front-status  {
  height: 256px;
}

.overlay__location-identifier-transfer, .overlay__location-identifier-cart_front {
  top: 189px;
}

.overlay__location-cart_front {
  left: 1657px;
  top: 3px;
  height: 257px;
}

.overlay__location-cart_front {
  height: 257px;
}

.overlay__location-cart_back_1 {
  height: 341px;
  top: 1286px;
  left: 773px;
}

.overlay__location-cart_back_1.overlay__location--selected {
  height: 345px;
}

.overlay__location-cart_back_1-status, .overlay__location-cart_back_2-status {
  height: 341px;
}

.overlay__location-identifier-cart_back_1, .overlay__location-identifier-cart_back_2 {
  top: 269px;
}

.overlay__location-cart_back_2 {
  height: 257px;
  top: 1286px;
  left: 883px;
}

.overlay__location-cart_back_2.overlay__location--selected {
  height: 261px;
}

.dateTab {
  text-align: center
}

/*
 * TICKET LIST
 */

.has-comment {
  font-weight: bold;
  color: red;
}

.is-tablet .ticket-actions li > a {
  height: 40px;
  line-height: 40px;
}

.is-tablet .dropdown-menu {
  margin-top: -4px;
}