{% extends "layout.html" %}
 
{% block content %}
  <h2>Luggage</h2>
  
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <form action="{{ url_for('luggage') }}" method=post>
    {{ form.hidden_tag() }}
 
    {{ form.name.label }}
    {{ form.name }}
 
    {{ form.ticket.label }}
    {{ form.ticket }}
 
    {{ form.location.label }}
    {{ form.location }}
 
    {{ form.bagCount.label }}
    {{ form.bagCount }}
 
    {{ form.submit }}
  </form>
{% endblock %}
