{% extends "layout.html" %}

{% block container %}


<div class="row">
  <nav aria-label="Page navigation" class="dateTab">
    <ul class="pagination">
    
      {% for day in printableDays %}
        <li {% if archiveDate == day %} class="active" {% endif %}>
          <a href="/archive/{{ day.strftime('%Y%m%d') }}">{{ day.strftime('%b %d') }}</a>
       	</li>
      {% endfor %}
      
    </ul>
  </nav>
</div>
<div class="page-header">
  <h2>Luggage Archives</h2>
</div>
<div class="row">
  <table id="archived-tickets" class="table table-bordered table-hover table-striped table-responsive">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>Ticket #</th>
        <th>Location</th>
        <th>Bag #</th>
        <th>Logged By</th>
        <th>Closed By</th>
        <th>Time Stored</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
{% for data in entry %}
      <tr class="clicker">
        <td>{{data.name}}</td>
        <td>{{data.ticket}}</td>
        <td>{{locations(data.location)}}</td>
        <td>{{data.bagCount}}</td>
        <td>{{data.loggedInBy}}</td>
        <td>{{data.loggedOutBy if data.loggedOutBy}}</td>
        <td class={{data.timeIn | datetimefilter('%Y-%m-%d-%H:%M:%S') }}>{{data.timeIn | datetimefilter('%Y-%m-%d %H:%M %p') }}</td>
        <td>{{data.comments if data.comments}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
