{% extends "layout.html" %}


{% block scripts %}
<script type="text/javascript">
  $(".pagination").rPage();
</script>
{% endblock %}


{% block container %}


<div class="row">
  <nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
    
      {% for day in printableDays %}
        <li {% if archiveDate == day %} class="active" {% endif %}>
          <a href="/archive/{{ day.strftime('%Y%m%d') }}">{{ day.strftime('%b %d') }}</a>
       	</li>
      {% endfor %}
      
    </ul>
  </nav>
</div>

<div class="page-header">
  <button type="button" class="btn btn-primary btn-lg pull-right" onclick="window.print();">
    Print
  </button>
  <h2>Luggage Archives</h2>
  
</div>
<div class="table-responsive">
  <table id="archived-tickets" class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>Ticket #</th>
        <th>Location</th>
        <th>Bag #</th>
        <th>Logged By</th>
        <th>Closed By</th>
        <th>Time Stored</th>
        <th>Time Closed</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
{% for data in entry %}
      <tr class="clicker">
        <td>{{data.name}}</td>
        <td>{{data.ticket}}</td>
        <td>{{locations(data.location)}}</td>
        <td>{{data.bagCount}}</td>
        <td>{{data.loggedInBy}}</td>
        <td>{{data.loggedOutBy if data.loggedOutBy}}</td>
        <td class="{{data.get_proper_time_in().strftime('%Y-%m-%d-%H:%M:%S')}}">
          {{data.get_proper_time_in().strftime("%I:%M %p") }}
        </td>
        <td 
          {% if data.get_proper_time_out() %} class="{{data.get_proper_time_out().strftime('%Y-%m-%d-%H:%M:%S')}}" {% endif %}>
          {% if data.get_proper_time_out() %}
            {{data.get_proper_time_out().strftime("%I:%M %p") }}
          {% endif %}
        </td>
        <td>{{data.comments if data.comments}}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}


