{% extends "base.html" %}

{% block container %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>Change Password</h2>
    
    {% for message in form.current.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in form.password1.errors %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <form action="{{ url_for('luggage.change_password') }}" method="post" class="form-horizontal">
      
      {{ form.csrf_token }}
  
      {{ form.current.label }}
      {{ form.current(class="form-control")|e }}<br/>
      
      {{ form.password1.label }}
      {{ form.password1(class="form-control")|e }}<br/>
      
      {{ form.password2.label }}
      {{ form.password2(class="form-control")|e }}<br/>
  
      <button class="btn btn-default btn-primary pull-right" type="submit">Change</button>
    </form>
  </div>
</div>
{% endblock %}
