{% extends "layout.html" %}

{% block form %}
  <h2>Luggage Log</h2>

  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.ticket.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.location.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.bagCount.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('luggage.create_luggage') }}" method=post>
    {{ form.csrf_token }}

    {{ form.name.label }}
    {{ form.name }}<br/>

    {{ form.ticket.label }}
    {{ form.ticket }}<br/>

    {{ form.location.label }}
    {{ form.location }}<br/>

    {{ form.bagCount.label }}
    {{ form.bagCount }}<br/>

    {{ form.submit }}
  </form>

  <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}<input type="submit" value="Search"></form>
{% endblock %}
