{% extends "base.html" %}


{% block navbar %}
  {% include 'partials/global/admin_navbar.html' %}
{% endblock %}


{% block container %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h2>Dashboard</h2>
    
   <h4><b>Summary:</b></h4>
   
   <table class="table table-bordered table-hover table-striped table-responsive tablesorter">
      <thead>
        <tr>
          <th>Date</th>
          <th>First Store</th>
          <th>Last Store</th>
          <th>Luggage time (from storing to closing)</th>
          <th>Logs per day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Average</td>
          <td>{{ info.first_store }}</td>
          <td>{{ info.last_store }}</td>
          <td>{{ info.luggage_time }}</td>
          <td>{{ info.count_store }}</td>
        </tr>
      </tbody>
   </table>
   <h4>Extra information:</h4>
    
    <table id="open-tickets" class="table table-bordered table-hover table-striped table-responsive tablesorter">
      <thead>
        <tr>
          <th>Date</th>
          <th>First Store</th>
          <th>Last Store</th>
          <th>Luggage time (from storing to closing)</th>
          <th>Logs per day</th>
        </tr>
      </thead>
      <tbody>
        {% for store in info.stores.values() %}
        <tr>
          <td>{{ store.day.strftime('%d %b %Y') }}</td>
          <td>{{ store.first }}</td>
          <td>{{ store.last }}</td>
          <td>{{ store.diff }}</td>
          <td>{{ store.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    
  </div>
</div>
{% endblock %}

