{% extends "base.html" %}


{% block extra_head %}

<script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>

<!-- jQuery Datatables -->
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/time.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script src="{{ url_for('static', filename='js/dashboard-information.js') }}"></script>
{% endblock %}

{% block navbar %}
  {% include 'partials/global/admin_navbar.html' %}
{% endblock %}


{% block container %}


<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
   <h2>Dashboard</h2>
   
   <h4>Luggage by day:</h4>
   <div class="">
	   
	     <div id="annualButtonsContainer">
         <ul class="pagination">
         </ul>
       </div>
	     <div id="monthButtonsContainer">
	       <ul class="pagination">
		     </ul>
	     </div>
	     <div id="monthlyChartContainer">
		    <canvas id="myChart" width="400" height="150"></canvas>
		   </div>
		 
	 </div>
	 
	 <h4>Luggage by hours:</h4>
   <div class="">
       
       <div id="dailyButtonsContainer">
         <ul class="pagination">
         </ul>
       </div>
       <div id="hourlyChartContainer">
        <canvas id="myHourlyChart" width="400" height="150"></canvas>
       </div>
     
   </div>
	
   <h4><b>Summary:</b></h4>
   
   <table class="table table-bordered table-hover table-striped table-responsive tablesorter">
      <thead>
        <tr>
          <th>Date</th>
          <th>First Store</th>
          <th>Last Store</th>
          <th>Average Luggage Time</th>
          <th>Logs per day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Average</td>
          <td>{{ info.first_store }}</td>
          <td>{{ info.last_store }}</td>
          <td>{{ info.luggage_time }}</td>
          <td>{{ info.count_store }}</td>
        </tr>
      </tbody>
   </table>
   <h4>Extra information:</h4>
    
    <table id="extrainfo-table" class="table table-bordered table-hover table-striped table-responsive tablesorter">
      <thead>
        <tr>
          <th>Date</th>
          <th>First Store</th>
          <th>Last Store</th>
          <th>Average Luggage Time</th>
          <th>Logs per day</th>
        </tr>
      </thead>
      <tbody>
        {% for store in info.stores.values() %}
        <tr>
          <td data-order="{{ store.day.strftime('%Y-%m-%d') }}">{{ store.day.strftime('%d %b %Y') }}</td>
          <td>{{ store.first }}</td>
          <td>{{ store.last }}</td>
          <td>{{ store.diff }}</td>
          <td>{{ store.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    
  </div>
</div>


<script>
/**
 * We print chart using Charts.js: http://www.chartjs.org/docs/latest/
 **/

var ctx = document.getElementById("myChart");

var dataByMonths = {};

var dataByHoursGeneral = {};

var monthsSelected = {};
var monthlyChart = null;

var colors = ['rgba(255, 99, 132, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(51, 204, 51, 0.2)', 'rgba(153, 153, 102, 0.2)', 'rgba(153, 51, 102, 0.2)', 'rgba(102, 102, 153, 0.2)',]
var borderColors = ['rgba(255, 99, 132, 1)', 'rgba(153, 102, 255, 1)', 'rgba(51, 204, 51, 1)', 'rgba(153, 153, 102, 1)', 'rgba(153, 51, 102, 1)', 'rgba(102, 102, 153, 1)',]

function addDataToMonth(month, day, value, hours, hoursOut) {
	if (!dataByMonths[month]) {
    dataByMonths[month] = {}
	}
	dataByMonths[month][day] = {
			value: value,
			hours: hours,
			hoursOut: hoursOut
	};
	
}

function sortObject(obj) {
    return Object.keys(obj).sort().reduce(function (result, key) {
        result[key] = obj[key];
        return result;
    }, {});
}

function sortDates(a, b) {
  a = new Date(a);
  b = new Date(b);
  if (a < b) {
    return -1;
  } else if (a > b) {
    return 1;
  } else {
    return 0;
  }
}

// We load values from luggage-by-day
{% for store in info.stores.values() %}

	var month = "{{store.day.strftime('%b %Y')}}";
	var day = {{store.day.strftime('%d')}};
	var count = {{ store.count }};
	var hour = {{ store.hours }};
	var hoursOut = {{ store.hoursOut }};
	
	addDataToMonth(month, day, count, hour, hoursOut);

{% endfor %}

// We load values from luggage-by-hour [Deprecated]
{% for store in info.stores_by_hour.values() %}

  var hour = {{store.hour}};
  var count = {{ store.count }};
  
  dataByHoursGeneral[hour] = count;

{% endfor %}

function createMonthlyChart() {
	var mSelected = Object.keys(monthsSelected);
	var days = []
	for (var i = 1; i<= 31; i++) {
		days.push(i);
	}
	
	var values = [];
	var titles = [];
	var daysInMonth = {
		'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31,'Jun': 30, 
		'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31
	};
	var minDaysToShow = 28;
	for (var m in mSelected) {
		var key = mSelected[m];
		var val = [];
		
		if (monthsSelected[key]) {
			var month = mSelected[m];
			
			var dataMonth = sortObject(dataByMonths[month]);
			var lastMonth = month;
			
			for (var i in days) {
				var d = days[i]
		    if (dataMonth[d]) {
		      val.push(dataMonth[d].value);
		    } else {
		      val.push(0);
		    }
		  }
			values.push(val);
			titles.push('# Logs by day ' + month);
			var shortMonth = month.slice(0, 3);
			if (daysInMonth[shortMonth] > minDaysToShow) {
				minDaysToShow = daysInMonth[shortMonth];
			}
		}
		
	}
	// Remove extra days
	var extraDays = 31 - minDaysToShow;
	for (var i = 0; i<extraDays; i++) {
		days.pop();
	}
	
	if (dataMonth && lastMonth) {
		createDailyButtons(dataMonth, lastMonth, days);	
	}
	
	createChartMultiple(days, values, titles, 350);
	
}

function createChartByHour(month, day) {
  // remove any previous chart
  $("#hourlyChartContainer").html("");
  $("#hourlyChartContainer").append('<canvas id="myHourlyChart" width="400" height="150"></canvas>');
  var ctx = document.getElementById("myHourlyChart");

  var dataByHours = {}
  var dataByHoursOut = {}
  
  var dataMonth = sortObject(dataByMonths[month]);
  var hoursArray = dataMonth[day] ? dataMonth[day].hours : [];
  var hoursOutArray = dataMonth[day] ? dataMonth[day].hoursOut: [];
  
  for (var i = 0; i<24; i++) {
    if ( !dataByHours[i] ) {
      dataByHours[i] = 0;
      dataByHoursOut[i] = 0;
    }
  }
  // Set values as an array (time-in)
  for (var i in hoursArray) {
	  var key = hoursArray[i];
    dataByHours[key] += 1;
  }
  //Set values as an array (time-out)
  for (var i in hoursOutArray) {
    var key = hoursOutArray[i];
    dataByHoursOut[key] += 1;
  }
  
  var titles = [
    '# Logs by hour ' + day + " " + month,
    '# Logs out by hour ' + day + " " + month,
  ]
  
  xAxis = Object.keys(dataByHours);
  for (var i in xAxis) {
	  
	  var prefix = " p.m.";
	  var value = parseInt(xAxis[i]);
	  if (value < 12) {
		  var prefix = " a.m.";
	  } else {
		  value = value - 12;
	  }
	  if (value == 0) {
		  value = 12;
	  }
	  xAxis[i] = value + prefix;
     
  }
  
  var yData = [ Object.values(dataByHours), Object.values(dataByHoursOut) ];
  createChart(ctx, xAxis, yData, titles);
  
}

function createChartMultiple(labels, data, titles, maxVal) {
	var dataset = [];
	
	for (var i in data) {
		var chartData = {
      label: titles[i],
      data: data[i],
      backgroundColor: colors[i%6],
      borderColor: borderColors[i%6],
      borderWidth: 1
	  }
		dataset.push(chartData);
	}
	
  // remove any previous chart
  $("#monthlyChartContainer").html("");
  $("#monthlyChartContainer").append('<canvas id="myChart" width="400" height="150"></canvas>');
  var ctx = document.getElementById("myChart");
  monthlyChart = new Chart(ctx, {
     type: 'bar',

     data: {
         labels: labels,
         datasets: dataset
     },
     options: {
         scales: {
       	  yAxes: [{
                 ticks: {
	               	 beginAtZero: true,
	               	 max: maxVal,
                   callback: function(value) {if (value % 1 === 0) {return value;}}
                 }
             }]
         }
     }
 });
}

function createChart(ctx, labels, data, titles) {
	var d = [];
	var color = ['rgba(255, 215, 0, 0.2)', 'rgba(0, 215, 255, 0.2)'];
  var borderColor =['rgba(255, 215, 0, 1)', 'rgba(0, 215, 255, 1)'];
	  
	for (var i in data) {
		var key = parseInt(i);
	  var chartData = {
	      label: titles[i],
	      data: data[i],
	      backgroundColor: color[key],
	      borderColor: borderColor[key],
	      borderWidth: 1
	  }
	  d.push(chartData);
		
	}
  
  var myChart = new Chart(ctx, {
      type: 'bar',

      data: {
          labels: labels,
          datasets: d
      },
      options: {
          scales: {
            yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback: function(value) {if (value % 1 === 0) {return value;}}
                  }
              }]
          }
      }
  });
  
}

function selectMonthsForYear(yearSelected) {
	$("#monthButtonsContainer ul li a").each(function(i, el) {
     var year = $(el).attr("data-year");
     if (year == yearSelected) {
       $(el).show();
     } else {
       $(el).hide();
     }
     
  })
}

function onSelectYear(event) {
	
  var year = $(event.target).html();
  $("#monthButtonsContainer li.active").removeClass("active");
  monthsSelected = {};
  selectMonthsForYear(year);
  
  $("#annualButtonsContainer li").removeClass("active");
  $(event.target).parent("li").addClass("active");
  
  var monthButtons = $("#monthButtonsContainer .showChartMonthly[data-year=" + year + "]");
  
  if (monthButtons.length) {
	  // trigger onSelectMonth
    $(monthButtons[monthButtons.length-1]).trigger("click");
    
  }

}

function onSelectMonth(event) {
  
  $(event.target).parent("li").toggleClass("active");
  if ($("#monthButtonsContainer li.active").length == 0) {
    $(event.target).parent("li").toggleClass("active");
  }
  
  var month = $(event.target).attr("data-value");
  var isActive = $(event.target).parent("li").hasClass("active");
  if (isActive) {
    monthsSelected[month] = 1;
  } else {
    monthsSelected[month] = 0;
  }
  
  createMonthlyChart();
}

function createMonthButtons() {
	var currentMonths = Object.keys(dataByMonths);
	
	currentMonths.sort(sortDates);
	
	var lastY = 0;
	for (var i in currentMonths) {
		var m = currentMonths[i].slice(0, 3);
		var y = currentMonths[i].slice(4);
		
		var _html = '<li><a class="showChartMonthly" data-value="' + currentMonths[i] + '" data-year="' + y + '">' +  m + '</a></li>'
		$("#monthButtonsContainer ul").append(_html);
		if (y != lastY) {
			$("#annualButtonsContainer ul").append('<li><a class="showYear">' +  y + '</a></li>');
			lastY = y;
		}
	}
	
	$("#annualButtonsContainer ul .showYear").on("click", onSelectYear);
	if (lastY) {
		selectMonthsForYear(lastY);
		$("#annualButtonsContainer li:last-child").addClass("active");
	}
	
	$("#monthButtonsContainer .showChartMonthly").on("click", onSelectMonth);
	
	if (currentMonths.length > 0) {
		$("#monthButtonsContainer li:last-child").addClass("active");
		
		var lastMonth = currentMonths[currentMonths.length - 1];
		monthsSelected[lastMonth] = 1;
		createMonthlyChart();
	}
	
}

function createDailyButtons(data, lastMonth, days) {
	$("#dailyButtonsContainer ul").html("");
  for (var i in days) {
	  $("#dailyButtonsContainer ul").append('<li><a class="showChartHourly">' + days[i] + '</a></li>');
  }
  
  $(".showChartHourly").on("click", function(event) {
    $("#dailyButtonsContainer li").removeClass("active");
    $(event.target).parent("li").addClass("active");
    var month = $("#monthButtonsContainer .active a").attr("data-value");
    var day = $(event.target).html();
    createChartByHour(month, day);
  });
  
  if (Object.values(data).length > 0) {
    $("#dailyButtonsContainer li:last-child").addClass("active");
    var month = lastMonth;
    var lastDay = null;
    for (var i in days) {
    	lastDay = days[i];
    }
    createChartByHour(month, lastDay);
  }
  
}

createMonthButtons();


</script>

{% endblock %}