{% extends "base.html" %}


{% block navbar %}
  {% include 'partials/global/admin_navbar.html' %}
{% endblock %}


{% block container %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2">
    <h2>Dashboard</h2>
    
   
   <h4>Extra information:</h4>
    
    <table id="open-tickets" class="table table-bordered table-hover table-striped table-responsive tablesorter">
      
      <tbody>
        <tr>
          <td>First Store: </td>
          <td>{{info.first_store}}</td>
        </tr>
        <tr>
          <td>Last Store: </td>
          <td>{{info.last_store}}</td>
        </tr>
        <tr>
          <td>Luggage time (from storing to closing): </td>
          <td>{{info.luggage_time}}</td>
        </tr>
        
      </tbody>
    </table>
    
    
  </div>
</div>
{% endblock %}

