{% extends "layout.html" %}

{% block form %}
  <div class="page-header">
    <h2>Luggage Storage</h2>
  </div>
  {% for message in form.name.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.ticket.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.location.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.bagCount.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.loggedIn.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('luggage.create_luggage') }}" method=post autocomplete="off">
    {{ form.csrf_token }}

    {{ form.name.label }}
    {{ form.name }}<br/>

    {{ form.ticket.label }}
    {{ form.ticket }}<br/>

    {{ form.location.label }}
    {{ form.location }}<br/>

    {{ form.bagCount.label }}
    {{ form.bagCount }}<br/>

    {{form.loggedIn.label }}
    {{ form.loggedIn }}<br/>

    {{ form.submit }}
  </form>

{% endblock %}

{% block container %}
  <div class="page-header">
    <h3>Luggage Log</h3>
  </div>
  <div>
    <table id="mytable" class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th class: "order-table">Last Name</th>
          <th class: "order-table">Ticket #</th>
          <th>Location</th>
          <th>Bag #</th>
          <th>Logged By</th>
          <th class: "order-table">Time Stored</th>
        </tr>
      </thead>
      <tbody>
{% for data in items %}
        <tr>
          <td>{{data.name}}</td>
          <td>{{data.ticket}}</td>
          <td>{{data.location}}</td>
          <td>{{data.bagCount}}</td>
          <td>{{data.loggedIn}}</td>
          <td>{{data.timeIn}}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
