{% extends "layout.html" %}

{% block container %}
  <div class="container-fluid">
        <h2>Luggage Storage</h2>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2">
  {% for message in form.name.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.ticket.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.location.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.bagCount.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.loggedInBy.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('luggage.create_luggage') }}" method=post autocomplete="off">
    {{ form.csrf_token }}

      {{ form.ticket.label }}
    {{ form.ticket|e }}<br/>

    {{ form.name.label }}
    {{ form.name|e }}<br/>

    {{ form.bagCount.label }}
    {{ form.bagCount|e }}<br/>

    {{ form.location.label }}
    {{ form.location|e }}<br/>

    {{form.loggedInBy.label }}
    {{ form.loggedInBy|e }}<br/>

    {{ form.id|e }}

    {{ form.submit }}
  </form>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-offset-0">
    <h3>Luggage Log</h3>
  </div>
  <div class="col-sm-6" id="search_bar">
    <form role="form" style="display: inline;" action="{{ url_for('luggage.search') }}" method="post" name="search" autocomplete="off">{{ g.search_form.search(size=20) }}
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search </button></form>
    </div>
  </div>
  <div class="row">
    <table id="table" class="table table-bordered table-hover table-striped table-responsive tablesorter">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>Ticket #</th>
          <th>Location</th>
          <th>Bag #</th>
          <th>Logged By</th>
          <th>Time Stored</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
{% for data in items %}
        <tr class="clicker">
          <td>{{data.name}} {% if data.comments %} <span class="glyphicon glyphicon-pencil has-comment"></span> {% endif %}</td>
          <td>{{data.ticket}}</td>
          <td>{{data.location}}</td>
          <td>{{data.bagCount}}</td>
          <td>{{data.loggedInBy}}</td>
          <td>{{data.timeIn | datetimefilter}}</td>
          <td class="dropdown">
            <button class="btn btn-default dropdown-toggle ticket-action-button needsclick" type="button"
              data-toggle="dropdown"> Action <span class="caret"></span>
            </button><ul class="dropdown-menu ticket-actions">
              <li><a href="{{ url_for('luggage.complete_ticket', id=data.id) }}">Complete</a></li>
              <li><a href="{{ url_for('luggage.edit_ticket', id=data.id) }}">Modify</a></li>
            </ul>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
