	{% extends "layout.html" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display-luggage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dialog-with-initials.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ticket-actions.js') }}"></script>
{% endblock %}

{% block container %}
    {% from 'partials/tickets/dialog__confirm_complete.html' import render_dialog %}
    {{ render_dialog() }}

  <div class="container-fluid">
        <h2>Lots A Luggage</h2>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2">
  {% for message in form.name.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.ticket.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.location.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.bagCount.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% for message in form.loggedInBy.errors %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('luggage.create_luggage') }}" method=post autocomplete="off">
    {{ form.csrf_token }}

    {{ form.ticket.label }}
    {{ form.ticket(class="form-control")|e }}<br/>

    {{ form.name.label }}
    {{ form.name(class="form-control")|e }}<br/>

    {{ form.bagCount.label }}
    {{ form.bagCount(class="form-control")|e }}<br/>

    {{ form.location.label }}
    {% include 'partials/bin-location/view-availability.html' %}
    
    {{ form.comments.label }}
    {{ form.comments(cols="40", rows="5", class="form-control")|e }}<br/>

    {{ form.loggedInBy.label }}
    {{ form.loggedInBy(**{'v-model': 'loggedInBy | uppercase', 'class': 'form-control'}) }}

    {{ form.id|e }}

    {{ form.submit }}
  </form>
  </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xs-offset-0">
    <h3>Luggage Log</h3>
  </div>
  <div class="col-sm-6" id="search_bar">
    <form role="form" style="display: inline;" action="{{ url_for('luggage.search') }}" method="post" name="search" autocomplete="off">{{ g.search_form.search(size=20) }}
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search </button></form>
    </div>
  </div>
  <div class="row">
    <table id="open-tickets" class="table table-bordered table-hover table-striped table-responsive tablesorter">
      <thead>
        <tr>
          <th>Last Name</th>
          <th>Ticket #</th>
          <th>Location</th>
          <th>Bag #</th>
          <th>Logged By</th>
          <th>Time Stored</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
{% for data in items %}
        <tr class="clicker" id="ticket-number-{{data.ticket}}">
          <td>{{data.name}} {% if data.comments %} <span class="glyphicon glyphicon-pencil has-comment" data-toggle="tooltip" data-placement="top" title="{{ data.comments }}"></span> {% endif %}</td>
          <td>{{data.ticket}}</td>
          <td>{{locations(data.location)}}</td>
          <td>{{data.bagCount}}</td>
          <td>{{data.loggedInBy}}</td>
          <td class={{data.timeIn | datetimefilter('%Y-%m-%d-%H:%M:%S') }}>{{data.timeIn | datetimefilter}}</td>
          <td class="dropdown">
            <button class="btn btn-default dropdown-toggle ticket-action-button needsclick" type="button" data-ticket-number="{{data.ticket}}"
              data-toggle="dropdown">Actions <span class="caret"></span>
            </button>

            <ul class="dropdown-menu ticket-actions">
              <li><a class="ticket-actions__complete" href="{{ url_for('luggage.complete_ticket', id=data.id) }}" data-target="#myModal" data-party-name="{{ data.name }}">Complete</a></li>
              <li><a class="ticket-actions__modify" href="{{ url_for('luggage.edit_ticket', id=data.id) }}">Modify</a></li>
            </ul>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
