{% extends "layout.html" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dialog-with-initials.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modify-ticket.js') }}"></script>
{% endblock %}

{% block container %}

{% from 'partials/tickets/dialog__confirm_complete.html' import render_dialog %}
{{ render_dialog() }}

<div class="container-fluid">
  <h2>Luggage Storage</h2>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2">
      {% for field, errors in form.errors.iteritems() %}
          {% for error in errors %}
              <div class="alert alert-danger"><strong>{{ form[field].label.text }}:</strong> {{ error }}</div>
          {% endfor %}
      {% endfor %}

      <form action="{{ url_for('luggage.edit_ticket', id=form.id.data) }}" id="form-edit-ticket" method="post" autocomplete="off">
        {{ form.csrf_token }}

        {{ form.ticket.label }}
        {{ form.ticket(class="form-control")|e }}<br/>

        {{ form.name.label }}
        {{ form.name(class="form-control")|e }}<br/>

        {{ form.bagCount.label }}
        {{ form.bagCount(class="form-control")|e }}<br/>

        {{ form.location.label }}
        {% include 'partials/bin-location/view-availability.html' %}

        {{ form.loggedInBy.label }}
        {{ form.loggedInBy(**{'v-model': 'loggedInBy | uppercase', 'class': 'form-control'})|e }}<br/>
        
        {{ form.comments.label }}
        {{ form.comments(cols="40", rows="5", class="form-control")|e }}<br/>

        <input type="hidden" id="modifiedBy" name="modifiedBy" value="" />

        {{ form.id|e }}
        
        
      </form>
      {{ form.submit }}
    </div>
  </div>
</div>

{% endblock %}
