{% extends "base.html" %}


{% block main_templates %}
<template id="bin-location-map-template">
  <section class="overlay bin-location-finder" id="bin-location-finder">
    <div class="overlay__action-group">
        <button class="btn btn-success btn-lg overlay__save" @click="save">Save</button>
        <button class="btn btn-link btn-lg overlay__cancel" @click="cancel">Cancel</button>
    </div>

    <div class="overlay__content-container">
        <div class="overlay__content">
            {% set locations_availability = locations_availability or {} %}

            {% for location, data in locations_availability.iteritems() %}
              <map-location location="{{ location }}" map-identifier="{{ data.map_identifier }}" amount="{{ data.amount }}"
                            :is-occupied="{{ 'true' if data.is_occupied else 'false'  }}">
              </map-location>
            {% endfor %}

            <img src="{{ url_for('static', filename='images/luggage-layout.png') }}"/>
        </div>
    </div>
  </section>
</template>

<template id="location-template">
  <a class="overlay__location overlay__location-${* location }" :class="{'overlay__location--selected': isSelected}"
     href="#" data-map-identifier="${* mapIdentifier }" data-location="${* location }" @click.prevent="selectedLocation" @touchstart.stop.prevent="touchStartedLocation"
     @touchend="touchEndedLocation">
    <span v-if="amount" class="overlay__location-amount ${ isOccupied ? 'overlay__location-amount--occupied':'' }">${ amount }</span>
    <span v-else class="overlay__location-amount">0</span>
      <span class="overlay__location-identifier overlay__location-identifier-${* location } ${ isOccupied ? 'overlay__location-identifier--occupied':''}">${* mapIdentifier }</span>
      <span class="overlay__location-status overlay__location-${* location }-status ${ isOccupied ? 'overlay__location-status--occupied':'' }"></span>
  </a>
</template>

{% set currentLocations = ':bins-to-persist=\'' + form.location.data + '\'' if form and form.location.data else '' -%}

<bin-location-map @persist-locations="persistLocations" {{ currentLocations | safe }}></bin-location-map>


{% endblock %}



{% block main_scripts %}

<script>
    $(function(){
        $('html').restive({
            breakpoints: ['960'],
            classes: ['viewport-960'],
            turbo_classes: 'is_tablet=is-tablet,is_pc=is-desktop'
        });
    });
</script>


<script src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>

{% if is_production() %}
  <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
{% else %}
  <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/bin-location-map.js') }}"></script>

<script type=text/javascript>
  //add parser through the tablesorter addParser method 
  $.tablesorter.addParser({ 
    id: 'location', // set a unique id  
    is: function(s) { 
        return false; // return false so this parser is not auto detected
    }, 
    format: function(s) { 
        // format your data for normalization
        var newFormat = s.toLowerCase().replace(/([0-9]+)([a-z]+)/, function(a, b, c){
          var number = Number(b).toLocaleString('us', { minimumIntegerDigits: 3 });
            return number + c;
        })
        return newFormat; 
    },
    type: 'text' // set type, either numeric or text 
  });
  $.tablesorter.addParser({ 
    id: 'datetimeSorter', // set a unique id  
    is: function(s) { return false; }, 
    format: function(s, table, cell) {
        return $(cell).attr('class') || s;
    },
    type: 'text' 
  });
  $(document).ready(function() {
      $('#open-tickets').tablesorter( {sortList: [[5,1]], headers: { 
          2: { sorter: 'location' },
          5: { sorter: 'datetimeSorter' },
      } });
      $('#search-tickets').tablesorter( {sortList: [[5,1]], headers: { 
          2: { sorter: 'location' },
          5: { sorter: 'datetimeSorter' },
      } });
      $('#archived-tickets').tablesorter( {sortList: [[6,1]], headers: { 
          2: { sorter: 'location' },
          6: { sorter: 'datetimeSorter' }
      } });
  });

  $(function() {
    FastClick.attach(document.body);
  });
</script>

<script type=text/javascript>
  $('th').click(function(){
      var table = $(this).parents('table').eq(0)
      var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
      this.asc = !this.asc
      if (!this.asc){rows = rows.reverse()}
      for (var i = 0; i < rows.length; i++){table.append(rows[i])}
  })
  function comparer(index) {
      return function(a, b) {
          var valA = getCellValue(a, index), valB = getCellValue(b, index)
          return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
      }
  }
  function getCellValue(row, index){ return $(row).children('td').eq(index).html() }

</script>
{% endblock %}
