<!DOCTYPE html>
<html>
  <head>
    <title>Luggage Services</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">    
  </head>
  <body class="w3-content" style="max-width:600px">
   
    <header class="w3-container w3-card-4 w3-light-blue">
      <div class="container">
        <h1 class="logo">Loews Royal Pacific Resort</h1>
      </div>
    </header> 
     
    <div class="w3-container w3-card-4">
      {% block form %}
      {% endblock %}
    </div>
    
    <div class="w3-container w3-card-4">
      {% block container %}
      {% endblock %}
    </div>
    
    <footer class="w3-container w3-card-4 w3-light-blue">
      <p>&copy;SCRG 2015 | All rights reserved</p>    
    </footer>
  </body>
</html>