{% extends "base.html" %}

{% block navbar %}

{% endblock %}

{% block container %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-2">
	  <h2>Admin - Log in</h2>
	  
	  {% for message in form.username.errors %}
	    <div class="alert alert-danger">{{ message }}</div>
	  {% endfor %}
	  {% for message in form.password.errors %}
	    <div class="alert alert-danger">{{ message }}</div>
	  {% endfor %}
	  <form action="" method="post" class="form-horizontal">
	    
	    {{ form.csrf_token }}
	
	    {{ form.username.label }}
	    {{ form.username(class="form-control")|e }}<br/>
	    
	    {{ form.password.label }}
	    {{ form.password(class="form-control")|e }}<br/>
	
	    <button class="btn btn-default btn-primary pull-right" type="submit">Login</button>
	  </form>
  </div>
</div>
{% endblock %}
